html {
  margin-top: 2rem;
  background: rgb(210,178,101);
  background: linear-gradient(90deg, rgba(210,178,101,1) 0%, rgba(153,119,25,1) 94%);

}
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: transparent
}
form{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  background-color: transparent;
  padding: .8rem;
  width: 80%;
  max-width: 1600px;
  margin: 2rem auto 2rem auto;
}

input {
  background-color: transparent;
  font-size: 1.5rem;
  padding: .5rem;
  border: none;
  border-bottom: 1px solid black;
}

input[type="submit"] {
  border: 2px solid black;
  padding: 0rem 2rem 0rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.tableHeader {
  font-size: 1.5rem;
  width:25%;
  padding: 1rem 1rem 1rem .4rem;
  color: black;
  text-decoration: underline;
}

.taskTableData {
  margin: auto;
  width: 80%;
  max-width: 1600px;
}

.tableData {
  width: 25%;
  padding: .5rem;
  font-size: 1.2rem;
}

tr:nth-of-type(odd){
  background-color: transparent;;
}

.fixed {
  /* background-color: lightgray !important; */
  text-decoration: line-through;
  font-style: italic;
  background-color: rgba(0,0,0, 0.25) !important
}

.solveButtons {
  background-color: transparent;
  border: 2px solid black;
  margin: 1px;
  font-weight: bold;
}